.project-buttons {
    display: flex;
    margin-bottom: 20px;

    button {
        margin: 5px;
    }
}

#deploy-runtime-chart {
    padding: 10px;
}

#deploy-box {
    display: flex;
    align-items: center;
}
